# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
USE BooksDB
SELECT TOP 100 book_id, authors, title AS 'book_title', average_rating
FROM dbo.books
ORDER BY average_rating DESC
--The number one book is The Complete Calvin and Hobbes by Bill Watterson.

Question 2: Write a query to find the least popular book.

In [ ]:
USE BooksDB
SELECT book_id, title, MIN ("average_rating") AS min_rating
FROM dbo.books
GROUP BY book_id, title
ORDER BY min_rating
--The least popular book is One Night At the Call Center.

Question 3: Which tag is the most popular?

In [ ]:
SELECT TOP 1 tag_id, 'count'
FROM BooksDB.dbo.book_tags
ORDER BY "count" DESC
--30574 is most popular tag id.

Question 4: What is the name of the most popular tag?

In [ ]:
SELECT *
FROM dbo.tags
WHERE tag_id LIKE 30574
--Returns "to-read" as the most popular tag using information from question 3.

Question 5: How many books where released in the first decade of 2000?

In [ ]:
SELECT COUNT (title)
FROM dbo.books
WHERE original_publication_year BETWEEN 2000 AND 2010;
--Returns 3594 books.

Question 6: How many book titles contain the word, "happy"?

In [ ]:
SELECT COUNT (title)
FROM dbo.books
WHERE title LIKE '%happy%'
--13 titles.

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
SELECT authors, title, average_rating
FROM BooksDB.dbo.books
WHERE authors LIKE 'j.k. rowling' OR authors LIKE 'bill watterson' OR authors LIKE 'brandon sanderson'
ORDER BY authors ASC, average_rating DESC
--Yes, the order does matter.

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
SELECT COUNT (authors)
FROM BooksDB.dbo.books
WHERE authors BETWEEN 'rock%' AND 'roll%';
--25 authors returned

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
--What book has the longest title?
SELECT TOP 1 (title), LEN (title)
FROM BooksDB.dbo.books
ORDER BY LEN (title) DESC
--Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
--What were the top 10 books published in 1989?
SELECT TOP 10 (average_rating), title, original_publication_year
FROM BooksDB.dbo.books
WHERE original_publication_year LIKE '1989'
ORDER BY (average_rating) DESC

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?